@font-face {
    font-family: 'Cross';
    src: url('../fonts/cross-stitch-blackletter-webfont.eot');
    src: url('../fonts/cross-stitch-blackletter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cross-stitch-blackletter-webfont.woff2') format('woff2'),
         url('../fonts/cross-stitch-blackletter-webfont.woff') format('woff'),
         url('../fonts/cross-stitch-blackletter-webfont.ttf') format('truetype'),
         url('../fonts/cross-stitch-blackletter-webfont.svg#cross_stitch_blackletterRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Unibody Black';
    src: url('../fonts/Unibody8Pro-Black.otf');
}


@font-face {
    font-family: 'Unibody Bold';
    src: url('../fonts/Unibody8Pro-Bold.otf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Unibody';
    src: url('../fonts/Unibody8Pro-RegularItalic.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    cursor: url('../cursor/frowny1.png'), move;
}

body {
	font-family: 'Unibody';
    
}

.sun, .time, .ancestors {
    font-size: 11px;
	font-family: 'Unibody Bold';
	font-weight: bold;
	text-decoration: underline;
}

.alt {
	font-family: 'Unibody Black';
	font-weight: bold;
}

.char {
	font-size: 36px;
	color: white;
	background: black;
	padding: 5px;
	font-family: "Cross", monospace;
	float: left;
	display: inline;
}

.page {
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
    border: 1px solid black;
    width: 1200px;
    height: 900px;
    float: left;
}

.left {
    float: left;
    width: 40%;
    padding: 3%;
    padding-right: 7%;
    height: 300px;
}

.right {
    float: left;
    width: 40%;
    padding: 3%;
    padding-left: 7%;
}

#down, #up {
    border: 1px solid black;
    background: white;
    min-height: 100px;
    min-width: 100px;
    top: calc(50% - 50px);
    position: fixed;
}

#up {
    left: 5px;
}

#down {
    right: 5px;
}